In [1]:
print('welcome to python')

welcome to python

In [2]:
Print('welcome to python')

NameError: name 'Print' is not defined

# above program tells us pyton is case sensitive

In [8]:
print(10)

10

In [9]:
print(tarun)

NameError: name 'tarun' is not defined

# In python string (text) should be placed in inveted commas

In [6]:
print('tarun')

tarun

# string (text should be in inverted commas)

Run-> shift+enter
add cell above-> a
add cell belove-> b
delete a cell-> x

In [10]:
x=10
y=10.5
name='tarun'

In [14]:
type(x)

int

In [15]:
type(y)

float

In [16]:
type(name)

str

# variables

In [20]:
names='tarun','nag','gopi'
names

('tarun', 'nag', 'gopi')

# space not allowed 
# no operator symboll in between a variable name
# variable name should not start with a number
# it should start with A-Z or a-z or underscore(_)