In [1]:
print('welcome to python')

welcome to python

In [2]:
Print('welcome to python')

NameError: name 'Print' is not defined

# above program tells us pyton is case sensitive

In [4]:
print(10)

10

In [5]:
print(tarun)

NameError: name 'tarun' is not defined

# In python string (text) should be placed in inveted commas

In [6]:
print('tarun')

tarun

# string (text should be in inverted commas)

Run-> shift+enter
add cell above-> a
add cell belove-> b
delete a cell-> x

In [7]:
x=10
y=10.5
name='tarun'

In [8]:
type(x)

int

In [9]:
type(y)

float

In [10]:
type(name)

str

# variables

In [11]:
names='tarun','nag','gopi'
names

('tarun', 'nag', 'gopi')

# space not allowed 
# no operator symboll in between a variable name
# variable name should not start with a number
# it should start with A-Z or a-z or underscore(_)

# List-> elements are seperated by commas and enclosed with square brackets[]
# heterogenous in nature
# can be retrived using index
# mutable

In [12]:
list=[1,2,3,'hi',True,112.4]

In [13]:
list  # printing the list

[1, 2, 3, 'hi', True, 112.4]

In [14]:
list[1]      # indexing second element in the list

2

In [15]:
list[1]=4   # changing the list value for inex [1]

In [16]:
list       # printing updated list

[1, 4, 3, 'hi', True, 112.4]

# Tuple->
# heterogenous
# parenthesis
# can retrive using index
# immutable

In [17]:
tuple=(1,3,5,'hi',True,23.4)  # creating a tuple

In [18]:
tuple   #prinitng a tuple

(1, 3, 5, 'hi', True, 23.4)

In [19]:
tuple[2]   # indexing third element in tuple

5

In [20]:
tuple[2]=20

TypeError: 'tuple' object does not support item assignment

as we can see above we can not change the value of a tuple as tuple is immutable

# set

# does not contains duplicates 
# Ordered-first place
# set elements cannot be retrived using a index
# set is mutable

In [21]:
set={1,23,43.3,'hi',True,12,34,1,'apple',34.5}  #creating a set

In [32]:
set  # printing a set

{1, 100, 12, 23, 34, 34.5, 43.3, 'apple'}

In [33]:
set[1]

TypeError: 'set' object is not subscriptable

In [34]:
set[1]='hello'

TypeError: 'set' object does not support item assignment

In [35]:
set.add(100)  #adding a new value intos set

In [37]:
set.remove(23)

In [38]:
set   #printing updated set

{1, 100, 12, 34, 34.5, 43.3, 'apple'}

# dictionary

# has key value pair data structure
# key is unique
# values can be duplicated
# values can be retrived using a key
# key cannot be retrived using a index

In [49]:
dict={1:'hi',2:143,4:222.2,2:'hello',5:'22.5',6:22.5}

In [50]:
dict

{1: 'hi', 2: 'hello', 4: 222.2, 5: '22.5', 6: 22.5}

In [51]:
dict  [1]

'hi'

In [52]:
dict['hi']

KeyError: 'hi'

In [53]:
dict[6]=100

In [54]:
dict

{1: 'hi', 2: 'hello', 4: 222.2, 5: '22.5', 6: 100}

In [55]:
dict[10]='business'

In [56]:
dict

{1: 'hi', 2: 'hello', 4: 222.2, 5: '22.5', 6: 100, 10: 'business'}